body{
    font-family: 'Montserrat',sans-serif;
    margin:0;
    background-color: black;
    overflow: hidden;
}
.main{
    display:flex;
    height:100vh;
    padding: 0.5rem;
}
.sidebar{
width: 340px;
border-radius: 1rem;
background-color: black;
margin: 0.5rem;
}
.main-content{
 flex: 1;
 border-radius: 1rem;
 overflow:auto;
 background-color:#121212;
 padding: 0 1.5rem 0 1.5rem;
}
.music-player{
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 72px;
 background-color: black;
}
.nav-option i{
    color:white;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color:#121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.nav-option:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding:0.5rem 0.75rem; 

}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons i{
    color: white;
    opacity: 0.7;
    margin-right: 1rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    margin: 0.75rem 0 1.45rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
 color:white;
 font-size: 1rem;
 font-weight: 500;
}
.box-p2{
color: white;
opacity: 0.9;
font-size: 0.85rem;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 2rem;
    width: fit-content;
    margin-top: 0.5rem;
}
.sticky-nav{
    display: flex;
    top: 0;
    background-color: #121212;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
    
}
.sticky-nav-icons{
    
}
.sticky-nav-options{
  margin-right: 1rem;
}
.sticky-nav-options button{
    margin-right: 1rem;
}
.dark{
    background-color: black;
    color:white;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card p{
    color: white;
    background-color: #232323;
    font-size: small;
    
}
.cards h2{
    color: white;
   /* padding: 1px 0 1px 0;
    height: 20px;
    margin-bottom:2px;
    margin-top: 2px;*/
}
.card{
    background-color: #232323;
    width: 125px;
    height: 204px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.cards-container{
    display: flex;
    height: 220px;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    
    }
.card-img{
    width: 100%;
    height:130px;
    border-radius: 0.5rem;
}
.card:hover{
    box-shadow: 4px 4px 10px black ;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8rem;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height:50%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}
.control{
    width: 25%;
}
.player-control-icon{
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
width: 70%;
appearance: none;
cursor:pointer;
background-color: transparent;
}
.progress-bar::-webkit-slider-runnable-track{
background-color: #ddd;
border-radius: 100%;
height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
appearance: none;
height: 1rem;
width: 1rem;
border-radius: 50%;
background-color: #1bd760;
margin-top: -6px;
}
.album{
 display: flex;
 align-items: center;
 }
.album img{
    height:3.5rem;
    width: 3rem;
    margin-left: 0.5rem;
}
.name{
    color: white;
    font-size: 0.8rem;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    line-height: 0.1px;
    margin-left:1rem;
}
.album i{
    margin-left: 2rem;
    opacity: 0.7;
}
.album i:hover{
    opacity: 1;
}
.control{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 2rem;
}
.control i{
    color: white;
    opacity: 0.7;
    margin-right:1rem;
}
.control i:hover{
    opacity:1;
}
.vol-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100%;
    height: 0.2rem;
    }
.vol-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color:#1bd760;
    margin-top: -6px;
    }